---
layout: magnolia
name: All Events
---

%h1 A list of events

%ul
  %li JUDCon Brazil 2014
  %li
    JavaOne
    %ul
      %li
        %a{:href=>"/javaone/sessions.html"}Sessions
      %li
        %a{:href=>"/javaone/speakers.html"}Speakers
  %li W-JAX 2014
  %li
    Devoxx
    %ul
      %li
        %a{:href=>"/devoxx/sessions.html"}Sessions
      %li
        %a{:href=>"/devoxx/speakers.html"}Speakers
  %li DevNation 2015
  %li Summit 2015
