!!!
%html
  %head
    %title A Simple Preview of #{page.name}
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/screen.css', :media=>'screen, projection' }
  %body.bp
    #container
      ~ content
